.bg-Icons8_Ios7_Files_Png {
    width: 256px; height: 256px;
    background: url('css_sprites.png') -930px -10px;
}


.sp.bg-kisspng_clip_art_cafe_computer_icons_coffee_cup_scalable_v_font_cha_svg_png_icon_free_download_265662_on_5b6b1b50ec1d06_6838413215337460009671 {
    width: 900px; height: 980px;
    background: url('css_sprites.png') -10px -10px;
}

.bg-mouse_icon_png_27 {
    width: 200px; height: 200px;
    background: url('css_sprites.png') -930px -286px;
}